/* Center the login form on the page */
.login-container {
  display: flex  !important;
  visibility: visible !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #C8A1E0, #E2BFD9);
  font-family: 'Poppins', sans-serif;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form__group {
  margin-bottom: 15px;
}

.form__group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  font-family: 'Poppins', sans-serif;
}

.form__group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #825ea1;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #5e3c7b;
}
